body {
  background-color: darkgray;
}

header {
  text-align: center;
}

#texto-tarefa {
  margin: auto;
  text-align: center;
  margin-left: 20%;
  background-color: black;
  color: white;
  border: 1px solid white;
  vertical-align: top;
}

#lista-tarefas {
  margin: 20px auto;
  background-color: white;
  min-height: 10%;
  min-width: 10%;
  text-align: center;
  display: inline-block;
}

#selected-item {
  background-color: gray;
}

#criar-tarefa {
  background-color: lightgreen;
  display: block;
  text-align: center;
  margin-left: 40px;
  margin-bottom: 15px;
}

#remover-finalizados {
  margin-left: 60px;
  padding: 20px;
  vertical-align: top;
}

#apaga-tudo {
  margin-left: 100px;
  background-color: red;
  padding: 20px;
  font-weight: 700;
  vertical-align: top;
}

.completed {
  text-decoration: line-through solid black;
}

#salvar-tarefas {
  text-align: center;
  margin-left: 550px;
}

#main-buttons {
  display: inline-block;
  height: 70px;
}

#container-mv-btn {
  display: inline-block;
}

#container {
  margin: auto;
  text-align: center;
}
